---
title: {{function:name}}
url: ./model/{{function:name}}/
description: {{function:name}} business function

practice_1: {{practice_1:name}}
practice_1_url: {{practice_1:name}}
practice_2: {{practice_2:name}}
practice_2_url: {{practice_2:name}}
practice_3: {{practice_3:name}}
practice_3_url: {{practice_3:name}}

keywords: ["Business function"]
---

{{function:description}}
